@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Permanent+Marker&display=swap');

body {
    background-color: rgb(200, 225, 241);
}

.heading {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.header h1 {
    position: relative;
    animation: header;
    animation-duration: 3s;
}

@keyframes header {
    0%   {background-color:rgb(155, 10, 70); left:0px; top:0px;}
    25%  {background-color:rgb(252, 2, 119); left:100px; top:0px;}
    50%  {background-color:rgb(247, 48, 157); left:100px; top:100px;}
    75%  {background-color:rgb(247, 123, 210); left:0px; top:100px;}
    100% {background-color:rgb(243, 179, 206); left:0px; top:0px;}
}

.page {
    position: relative;
    animation: page;
    animation-duration: 3s;
}

@keyframes page {
    0% {top: 0px;}
    25% {top: 75px;}
    50% {top: 150px;}
    100% {top: 0px;}
}

#td-melt {
    text-align: right;
    padding-right: 20px;
    color: darkred;
}

#td-sugar {
    text-align: right;
    padding-right: 65px;
    color:orange;
}

#td-dark {
    text-align: right;
    padding-left: 15%;
    color:rgb(216, 216, 23);
}

#td-eggs {
    text-align: center; 
    padding-left: 15px;
}

#td-egg {
    text-align: right;
    padding-right: 74px;
    color: green;
}

#td-flour {
    text-align: right;
    padding-right: 75px;
    color: rgb(95, 167, 212);
}

#td-chop {
    text-align: right;
    padding-right: 15px;
    color: darkblue;
}

#td-salt {
    text-align: right;
    padding-right: 80px;
    color: violet;
}


.ingredients {
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    margin: 2rem auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Grechen Fuemen', cursive;
}

.ingredients-table {
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
}

.intsructsions {
    border: 2px solid rgb(0, 0, 0);
    width: 50%;
    margin: 0 auto;
}

.intsructsions ol {
    margin: 2 auto;
    width: 75%;
    font-family: 'Grechen Fuemen', cursive;
    color: tomato;
}

img {
    border-radius: 8px;
    width: 250px;
}

.picture {
    position: relative;
    animation: picture;
    animation-duration: 3s;
}

@keyframes picture {
    0% {left: -1000px;}
    85% {left: 50px;}
    100% {left: 0;}
}

.footer {
    font-size: 1.5rem;
}
